@font-face {
    font-family: "GT America Light";
    src:url("./GT-America-Standard-Light.eot");
    src:url("./GT-America-Standard-Light.eot?#iefix") format("embedded-opentype"),
        url("./GT-America-Standard-Light.woff2") format("woff2"),
        url("./GT-America-Standard-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kepler Std";
    src:url("./Kepler-Std-Display.otf");
    font-weight: normal;
    font-style: normal;
}
